.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 3vw 1vw;
}

.formWrapper{
  padding: 2px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border:3px solid gray;
  border-radius: 0.8vw;
  
}

.formWrapper > h1{
  padding: 2vw 1vw;
  color: aqua;
}
.formWrapper > input{
  padding: 0.5vw;
  margin:2px 1.5px;
}

.radioBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.btnWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vw 1vw;
}

.btnWrapper > button{
  padding: 0.5vw 2vw;
  border-radius: 5px;
  color:aliceblue;
  background-color: greenyellow;
}

.showUser{
  display: flex;
  flex-direction: row;
  border:2px solid gray;
  width:80vw;
}

.showUser > p{
  padding: 0px 3px;
}

.showUser > button{
  padding: 0px 2vw;
  border-radius: 5px;
  margin: 5px 5vw;
  color:aliceblue;
  background-color: red;
}